In [1]:
""" Multi line string 
supported in python by 3 single or
double quotes"""

' Multi line string \nsupported in python by 3 single or\ndouble quotes'

In [2]:
# raw string in python don't need any escape sequences

In [5]:
raw_string = r'this is a raw string no escape seq needed for backslash \test'
raw_string

'this is a raw string no escape seq needed for backslash \\test'

In [13]:
#str function is used to create a string from other objects like int, float etc
str(10), str(10.5)

('10', '10.5')

In [14]:
#string in pythons are sequence types
test_string = "parrot"
test_string[4]

'o'

In [15]:
type(test_string[4])

str

In [66]:
concate_string = "".join(["string1","string2"])
concate_string

'string1string2'

In [67]:
concate_string.split("1")

['string', 'string2']

In [69]:
concate_string.partition("1") # divides the string into multiple partitions by partitioning by the given string

('string', '1', 'string2')

In [16]:
#string are immutable sequence of characters in python. Any operations on string creates new string
test = "somestring"
capitalized = test.capitalize()
capitalized

'Somestring'

In [17]:
#string equality comparision
string1 = "good"
if string1 == "good":
    print("String are equal")
else:
    print("Strings are not equal")

String are equal

In [20]:
#Python lists (mutable heterogenous sequence of objects)

In [21]:
new_list = [ 1,2,3,4,5]
string_list = [ "tst", "new", "string", 'list']
heterogenous = ["test", 5, "heterogenous", ["list", 5]]

In [22]:
heterogenous

['test', 5, 'heterogenous', ['list', 5]]

In [23]:
heterogenous[3]

['list', 5]

In [24]:
new_list.append(6)

In [28]:
#list constructor
my_list = list()
my_list.append(56)
my_list
type(my_list)

list

In [29]:
#dictionary mutable mappings of keys and values
my_dict = {"key1": 23, "key_list": [1,2,3,4,5] }
my_dict
type(my_dict)

dict

In [34]:
from urllib.request import urlopen
with urlopen ('http://sixty-north.com/c/t.txt') as story:
    story_words = []
    for line in story:
        line_words = line.decode('utf-8').split()
        for word in line_words:
            story_words.append(word)
print(story_words)

['It', 'was', 'the', 'best', 'of', 'times', 'it', 'was', 'the', 'worst', 'of', 'times', 'it', 'was', 'the', 'age', 'of', 'wisdom', 'it', 'was', 'the', 'age', 'of', 'foolishness', 'it', 'was', 'the', 'epoch', 'of', 'belief', 'it', 'was', 'the', 'epoch', 'of', 'incredulity', 'it', 'was', 'the', 'season', 'of', 'Light', 'it', 'was', 'the', 'season', 'of', 'Darkness', 'it', 'was', 'the', 'spring', 'of', 'hope', 'it', 'was', 'the', 'winter', 'of', 'despair', 'we', 'had', 'everything', 'before', 'us', 'we', 'had', 'nothing', 'before', 'us', 'we', 'were', 'all', 'going', 'direct', 'to', 'Heaven', 'we', 'were', 'all', 'going', 'direct', 'the', 'other', 'way', 'in', 'short', 'the', 'period', 'was', 'so', 'far', 'like', 'the', 'present', 'period', 'that', 'some', 'of', 'its', 'noisiest', 'authorities', 'insisted', 'on', 'its', 'being', 'received', 'for', 'good', 'or', 'for', 'evil', 'in', 'the', 'superlative', 'degree', 'of', 'comparison', 'only']

In [37]:
#byte arrays - sequence of bytes
byte_array = b'testbytearray'
byte_array.decode('utf-8')

'testbytearray'

In [40]:
#Tuples - immutable sequence of objects - Cannot add or delete elements from a tuple
tuple1 = (1,34,56)

In [42]:
type(tuple1)

tuple

In [43]:
tuple2 = 3,4,5

In [44]:
tuple2

(3, 4, 5)

In [48]:
# tuple can be used to return multiple values from function
def minmax(items):
   return min(items), max(items)

In [51]:
#Multiple values returns as tuple to multiple variables using tuple unpacking 
min_num , max_num = minmax([10,20,30,40,50])
min_num, max_num

(10, 50)

In [52]:
tuple3 = tuple2 * 2

In [53]:
id(tuple2), id(tuple3)

(139739831492824, 139739834911432)

In [55]:
#Tuple unpacking can be used to switch 2 variables without using temp variable
a = 10
b = 20
a, b = b, a
a, b

(20, 10)

In [60]:
# tuple constructor can be used to create a tuple from other iterable series of objects like string, list etc

In [61]:
5 in (5,6,7)

True

In [62]:
5 not in (4, 8, 12)

True

In [63]:
len(tuple2)

3

In [64]:
tuple2[1]

4

In [75]:
#range is a collection type which represents a arithmetic progressio of integers
range(5)

range(0, 5)

In [77]:
for indx in range(5):
    print(indx)

0
1
2
3
4

In [78]:
for indx in range(5,10):
    print(indx)

5
6
7
8
9

In [79]:
for indx in range(0,10,2):
    print(indx)

0
2
4
6
8

In [80]:
list(range(5))

[0, 1, 2, 3, 4]

In [82]:
#enumerate returns iterable seris of pairs
for indx_value_tuple in enumerate([66,67,68,69,70]):
    print(indx_value_tuple)

(0, 66)
(1, 67)
(2, 68)
(3, 69)
(4, 70)

In [83]:
for indx, value in enumerate([66,67,68,69,70]):
    print(indx, value)

0 66
1 67
2 68
3 69
4 70

In [89]:
s = "how to index a list variable"
list_s = s.split()

list_s[5], list_s[-1]  # same last element using negative indexing

('variable', 'variable')

In [91]:
#slicing list seq(list or tuple) seq[start:stop]
list_s[1:4]

['to', 'index', 'a']

In [93]:
new_list_s = list_s[:]
new_list_s

['how', 'to', 'index', 'a', 'list', 'variable']

In [94]:
new_list_s is list_s

False

In [95]:
new_list_s == list_s

True

In [100]:
#list copying creates a shallow copies
list1 = [[1,2],[3,4]]
list2 = list1[:]
list1 is list2 , list1 == list2

(False, True)

In [101]:
list1[1].append(5)
list1, list2

([[1, 2], [3, 4, 5]], [[1, 2], [3, 4, 5]])

In [135]:
list_test_index = "the quick brown fox jumps over the lazy dog".split()
list_test_index.index("brown") # search for element with value equality

2

In [136]:
list_test_index.count("the") # the number of times the is present in the list

2

In [137]:
"brown" in list_test_index # check for element membership in list

True

In [138]:
#delete a element from list
del list_test_index[2] # delete using index
list_test_index.remove("the") # delete using value
list_test_index, list_test_index.count("the")

(['quick', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'], 1)

In [139]:
list_test_index.reverse() # function performs reversing in place and returns None
list_test_index

['dog', 'lazy', 'the', 'over', 'jumps', 'fox', 'quick']

In [140]:
list_test_index.sort() # function performs sorting in place and returns None
list_test_index

['dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']

In [143]:
list_test_index.sort(reverse=True)
list_test_index

['the', 'quick', 'over', 'lazy', 'jumps', 'fox', 'dog']

In [144]:
list_test_index.sort(key=len) # key takes a callable object like a function. This sorts the list by len of the elements
list_test_index

['the', 'fox', 'dog', 'over', 'lazy', 'quick', 'jumps']

In [145]:
sorted(list_test_index) # returns a new list wiht sorted values

['dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']

In [149]:
reversed_list = list(reversed(list_test_index)) # reversed returns a iterator to a traverse in reverse order. pass this to list constructor to 
#create reversed list
reversed_list

['jumps', 'quick', 'lazy', 'over', 'dog', 'fox', 'the']

In [152]:
# dict is unordered mapping of immutable keys to mutable values
list_of_keyvalues = [("Arun", 90), ("kumar", 100), ("lisa", 95)]
dict_keyvalues = dict(list_of_keyvalues)
dict_keyvalues

{'Arun': 90, 'kumar': 100, 'lisa': 95}

In [154]:
#dict copying . Dict also performs shallow copying of keys and values
new_dict = dict_keyvalues.copy()
new_dict

{'Arun': 90, 'kumar': 100, 'lisa': 95}

In [156]:
#extending a list with another dict
toextend_dict = {"martha": 70}
new_dict.update(toextend_dict)
new_dict

{'Arun': 90, 'kumar': 100, 'lisa': 95, 'martha': 70}

In [157]:
for key in new_dict:
    print(key)

martha
kumar
lisa
Arun

In [158]:
for value in new_dict.values():
    print(value)

70
100
95
90

In [159]:
for key in new_dict.keys():
    print(key)

martha
kumar
lisa
Arun

In [160]:
for key , value in new_dict.items():
    print(key, value)

martha 70
kumar 100
lisa 95
Arun 90

In [161]:
"martha" in new_dict # check membership of key in dictionary. check values against key values in dict

True

In [162]:
"test" not in new_dict # check non membership of key in dict

True

In [163]:
# set - unordered collection of unique , immutable objects

In [165]:
set1 = { 1,2,3,4,5}
type(set1)

set

In [166]:
set2 = set() # empty set can be created using set constructor since using {} creates empty dict

In [167]:
# set constructor can be used to create a set from other iterable. it removes the duplicates from other iterables
set([10,20,30,40,50,20,30])

{10, 20, 30, 40, 50}

In [168]:
10 in set1

False

In [170]:
set1.add(10)
set1

{1, 2, 3, 4, 5, 10}

In [172]:
set1.update([45,60.70])
set1

{1, 2, 3, 4, 5, 10, 45, 60.7}

In [173]:
set1.remove(1) # remove a element from set
set1

{2, 3, 4, 5, 10, 45, 60.7}

In [174]:
set1.discard(20) # No error is thrown if the item is not in set

In [176]:
set1.remove(78)

KeyError: 78

In [177]:
set3 = set1.copy()
set3

{2, 3, 4, 5, 10, 45, 60.7}

In [178]:
blue_eyes = { 'Olivia', 'Harry', 'Lily', 'Jack', 'Amelia'}
blond_hair = { 'Harry', 'Jack', 'Amelia', 'Mia', 'Joshua'}
smell_hcn = {'Harry', 'Amelia'}
taste_ptc = {'Harry', 'Lily', 'Amelia', 'Lola'}
o_blood = {'Mia', 'Joshua', 'Lily', 'Olivia'}
b_blood = { "Amelia", "Jack"}
a_blood = {'Harry'}
ab_blood = {'Joshua', 'Lola'}

In [179]:
blue_eyes.union(blond_hair)

{'Amelia', 'Harry', 'Jack', 'Joshua', 'Lily', 'Mia', 'Olivia'}

In [180]:
blue_eyes.intersection(blond_hair)

{'Amelia', 'Harry', 'Jack'}

In [181]:
blond_hair.difference(blue_eyes)

{'Joshua', 'Mia'}

In [182]:
smell_hcn.issubset(blond_hair)

True

In [183]:
taste_ptc.issuperset(smell_hcn)

True

In [184]:
a_blood.isdisjoint(o_blood)

True